* {
  font-family: Poppins, sans-serif;
}
footer {
  background: linear-gradient(#000aff, #0075ff);
  color: white;
}

.sideNav a {
  color: white;
}

.sideNav {
  background: linear-gradient(#000aff, #ffffff);
    border-radius: 5px;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: bold;

}

.btn_db {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #FFA800;
}

.day {
  font-weight: bold;
  color: #BFBFBF;
  font-size: 16px;
}

.tgl {
  font-size: 25px;
  font-weight: bold;
  color: #FFA800;
}

.paralax_calender {
  background-color: #E9F3FF;

  /* Set a specific height */
  min-height: 590px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

}

.paralax_right {
  background-color: #E9F3FF;

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 175px;
  left: 0;
